.apartmentMain {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 30px;
}

.headerApartment {
  height: 415px;
  border-radius: 25px;
}

.information {
  display: flex;
  justify-content: space-between;
}

.apartmentInfo > h2 {
  font-size: 36px;
  font-weight: 500;
  text-align: left;
  color: #FF6060;
}

.apartmentInfo > h4 {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #FF6060;
}

.tagsInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}

.tagsInfo > li {
  width: 115px;
  height: 25px;
  border-radius: 10px;
  background-color: #FF6060;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}

.informationHost {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}

.hostDescription {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
  text-align: right;
}

.hostDescription > h4 {
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  color: #FF6060;
}

.hostPicture {
  width: 64px;
  height: 64px;
}

.hostPicture > img {
  width: auto;
  height: 100%;
  border-radius: 50%;
}

.properties {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.dropdownApartment {
  width: 47%;
}

@media (max-width: 900px) {
  .dropdownApartment {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .apartmentMain {
    gap: 15px;
  }

  .headerApartment {
    height: 255px;
    border-radius: 10px;
  }

  .information {
    flex-direction: column;
    align-items: start;
  }

  .apartmentInfo {
    width: 100%;
  }

  .tagsInfo {
    margin-top: 15px;
  }

  .informationHost {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }

  .hostDescription {
    width: 20%;
    justify-content: end;
  }

  .hostDescription > h4 {
    font-size: 12px;
  }

  .hostPicture {
    height: 32px;
    width: 32px;
  }

  .properties {
    flex-direction: column;
    gap: 30px;
  }
}
