.containerHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

section {
  max-width: 1240px;
  margin-top: 43px;
}

.apartmentContainer {
  gap: 50px;
  padding: 30px;
  border-radius: 25px;
  background-color: #F6F6F6;
;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

@media (max-width: 768px) {
  section {
    margin-top: 0;
  }

  .apartmentContainer {
    gap: 20px;
    padding: 15px 0;
  }
}
