
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  color: black;
  font-size: 1.25rem;
  font-weight: 500;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}
