
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.errorFetch {
  background-color: #FF6060;
  text-align: center;
  font-size: 30px;
  height: 100vh;
  padding: 50px 10px;
}
