header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.titleContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.titleContainer > h2 {
  z-index: 5;
  color: #fff;
  font-size: 48px;
  line-height: 68px;
  font-weight: 500;
}

.imgHeader {
  filter: brightness(70%);
  width: 100%;
}

@media (max-width: 768px) {
  .titleContainer > h2 {
    font-size: 1.5rem;
    line-height: normal;
  }

  .imageContainer > img {
    height: 100%;
    object-fit: none;
  }
}
